<hr />
<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subTitle}}</h2>

<p>Number: {{2 + 2}}</p>
<p>String: {{tutorialObject.firstname + " " + tutorialObject.lastname | uppercase}}</p>
<p><b>Binding: {{tutorialObject.bindOutput | currency: "#": "4"}}</b></p>
<button ng-click="timesTwo()">Multiply</button>

<label>First name:</label>
<input ng-model="tutorialObject.firstname | uppercase">
<br />
<label>Last name:</label>
<input ng-model="tutorialObject.lastname | lowercase">

<br />

<br />
<a href="#/tutorialSecond">Tutorial Second Page</a>
